﻿@using Yk.Services.AppLoggerService;
@inject IAppLoggerService _apploggerService;
@{
    ViewData["Title"] = "Log list";
}

<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">

        <div class="content-body">

            <section id="configuration">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"> Log Listesi</h4>
                                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>

                            </div>
                            <div class="card-content collapse show">
                                <div class="card-body card-dashboard">


                                    <table class="table table-striped table-bordered comma-decimal-place dataTable"  >
                                        <thead class="bg-primary white">
                                            <tr>
                                                <th>Sıra No</th>
                                                <th>Uygulama Adı</th>
                                                <th>Hata Tarihi</th>
                                                <th>Durum</th>
                                                <th>Durum Kodu</th>
                                                <th>Durum Açıklama</th>
                                                <th>Mesaj</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var mdl in _apploggerService.GetAll().Where(x => !x.IsDeleted))
                                            {
                                            <tr>
                                                <td>@mdl.Id</td>
                                                <td>@mdl.WebApp.Name</td>
                                                <td>@mdl.CreateDate</td>
                                                <td>@mdl.Status</td>
                                                <td>@mdl.StatusCode</td>
                                                <td>@mdl.StatusDescription</td>
                                                <td>@mdl.Message</td>

                                            </tr>
                                            }
                                        </tbody>


                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
@section VendorCss{
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
<!-- END VENDOR CSS-->
}


@section Scripts
    {

<script>
    $('.comma-decimal-place').DataTable({
        "aLengthMenu": [[20, 50, 75, -1], [20, 50, 75, "All"]],
        "iDisplayLength": 20,
        "aaSorting": [[0, 'desc']],
        "language": {
            "decimal": ",",
            "thousands": ".",
            "url": "/dil.json"
        }
    });
</script>



}


@section ModernJs{
<script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js" type="text/javascript"></script>

  }




 


