﻿@model IEnumerable<Navmenu>

@{
    List<int> lst = new List<int>();
}
 
<div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow"
     role="navigation" data-menu="menu-wrapper">
    <div class="navbar-container main-menu-content container center-layout" data-menu="menu-container">
        <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
            @foreach (var nav in Model.Where(i => i.TopMenu == 0))
            {
                if (lst.Contains(nav.Id))
                {
                    continue;
                }

                lst.Add(nav.Id);

                int subCnt = Model.Count(i => i.TopMenu == nav.Id);

               





                    <li class="@Html.Raw(subCnt > 0 ? "dropdown" : "") nav-item" @Html.Raw(subCnt > 0 ? "data-menu=\"dropdown\"" : "")>


                        <a class="dropdown-toggle nav-link" href="@nav.Url" @Html.Raw(subCnt > 0 ? "data-toggle=\"dropdown\"" : "")>
                            @if (!string.IsNullOrWhiteSpace(nav.Icon))
                            {
                                <i class="@nav.Icon"></i>
                            }
                            <span>@nav.Name</span>
                        </a>

                        @if (subCnt > 0)
                        {
                            <ul class="dropdown-menu">
                                @foreach (var sub in Model.Where(i => i.TopMenu == nav.Id))
                                {
                                    lst.Add(sub.Id);
                                    int sub2Cnt = Model.Count(i => i.TopMenu == sub.Id);

                                    @if (sub2Cnt > 0)
                                    {
                                        <li class="dropdown dropdown-submenu" data-menu="dropdown-submenu">
                                            <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">@sub.Name</a>
                                            <ul class="dropdown-menu">
                                                @foreach (var ss in Model.Where(i => i.TopMenu == sub.Id))
                                                {
                                                    lst.Add(ss.Id);
                                                    <li data-menu="">
                                                        <a class="dropdown-item" href="@ss.Url" data-toggle="dropdown">@ss.Name</a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li data-menu="">
                                            @if (!string.IsNullOrWhiteSpace(sub.Icon))
                                            {
                                                <i class="@sub.Icon"></i>
                                            }
                                            <a class="dropdown-item" href="@sub.Url" data-toggle="dropdown">@sub.Name</a>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    </li>


              
               
            }
        </ul>
    </div>
</div>
