﻿@using Yk.Services.WebAppService;
@model WebAppModel;

@inject IWebAppService _webAppService;
@{
    ViewData["Title"] = "Uygulama İşlemleri";
}




<div class="app-content container center-layout mt-2">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Anasayfa</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Kategori işlemleri</a>
                            </li>

                        </ol>
                    </div>
                </div>
                <h3 class="content-header-title mb-0">Uygulama İşlemleri</h3>
            </div>

        </div>
        <div class="content-body">
            <div class="card-text text-danger" asp-validation-summary="ModelOnly">

            </div>
            <div class="row match-height">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">



                            <h4 class="card-title" id="basic-layout-form">
                                Uygulama
                            </h4>









                            <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>

                        </div>
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <div class="card-text">

                                </div>
                                <form class="form" id="formWeb" name="formWeb">
                                    <input hidden asp-for="Id" />

                                    <div class="form-body">

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Uygulama Adı</label>
                                                    <input type="text" asp-for="Name" class="form-control" required placeholder="Adı">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Url</label>
                                                    <input type="text" asp-for="Url" class="form-control" required placeholder="Url">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Başlangıç Saat</label>
                                                    <input type="text" class="form-control input-lg" id="timeformat" asp-for="StartTime" placeholder="Date Dropper">

                                                </div>

                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label>Bitiş Saat</label>
                                                    <input type="text" class="form-control input-lg" id="timeformat2" asp-for="EndTime" placeholder="Date Dropper">

                                                </div>

                                            </div>
                                        </div>

                                    </div>



                                </form>
                                <div class="  pull-right p-2">
                                    <input class="btn btn-success" id="btnSubmit" type="submit" value="Ekle" />

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">



                    <h4 class="card-title" id="basic-layout-form">
                        Uygulama Listesi
                    </h4>


                </div>
                <div class="card-content collapse show">
                    <div class="card-body">

                        <table class="table table-striped table-bordered comma-decimal-place dataTable" id="datalist">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>


@section Scripts{

<script>


    function isValidUrl(url) {

        var myVariable = url;
        if (/^(http|https|ftp):\/\/[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/i.test(myVariable)) {
            return 1;
        } else {
            return -1;
        }
    }
    $(document).ready(function () {
        GetAllData();
    });


    function clearTextBox() {
        $('#Name').val("");
        $('#Url').val("");
        $('#Id').val("0");

        $('#btnSubmit').css("btn btn-success");
        $('#btnSubmit').val("Ekle");
        $('#Name').css('border-color', 'lightgrey');
        $('#Url').css('border-color', 'lightgrey');
    }
    function GetAllData() {
        $.ajax({
            url: "/WebApp/List",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = "  <thead class='bg-primary white'><tr><th>Uygulama Adı</th><th>Url</th><th>Baş. Saati</th><th>Bitiş Saati</th><th>İşlemler</th></tr></thead>";
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.Name + '</td>';
                    html += '<td>' + item.Url + '</td>';
                    html += '<td>' + item.StartTime + '</td>';
                    html += '<td>' + item.EndTime + '</td>';

                    html += '<td><a href="JavaScript:void(0);" onclick="return getbyID(' + item.Id + ')">Düzenle</a> | <a href="JavaScript:void(0);" onclick="Delete(' + item.Id + ')">Sil</a></td>';
                    html += '</tr>';
                });
                $('#datalist').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    function Delete(ID) {



        const swalWithBootstrapButtons = Swal.mixin({
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger',
            buttonsStyling: false,
        })

        swalWithBootstrapButtons({
            title: 'Silmek istediğinizden eminmisiniz  ?',
            text: "Bu kaydi geri döndüremezsiniz !",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet , Sil!',
            cancelButtonText: 'Hayır, iptal!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {

                $.ajax({
                    url: "/WebApp/Delete/" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        GetAllData();
                        clearTextBox();
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
                swalWithBootstrapButtons(
                    'Silindi!',
                    'Kayıt Silindi',
                    'success'
                )
            } else if (
            
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons(
                    'İptal Edildi',
                    'Silme işlemi iptal edildi.',
                    'error'
                )
            }
        })
    }
    $(document).ready(function () {
        $("#btnSubmit").click(function () {

            if (isValidUrl($("#Url").val()) == 1) {
                var dataType = 'application/x-www-form-urlencoded; charset=utf-8';
                var data = $('#formWeb').serialize();
                var dataType = 'application/json; charset=utf-8';


                if ($('#Name').val() != "") {
                    var dataType = 'application/x-www-form-urlencoded; charset=utf-8';
                    var data = $('#formWeb').serialize();
                    var dataType = 'application/json; charset=utf-8';
                    console.log(data);
                    $.ajax({
                        type: 'POST',
                        url: '/WebApp/AddWeb/',
                        dataType: 'json',
                        data: data,
                        success: function (result) {
                            clearTextBox();
                            GetAllData();
                        }
                    });

                }
                else {
                    $('#Name').css('border-color', 'red');
                    $('#Url').css('border-color', 'red');
                }

            } else {

                $('#Url').css('border-color', 'red');
                alert("Url Uygun Formtta Değil");

            }




        });
    });



    function getbyID(Id) {
        $('#Name').css('border-color', 'lightgrey');
        $('#Url').css('border-color', 'lightgrey');

        $.ajax({
            url: "/WebApp/GetById/" + Id,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#Name').val(result.Name);
                $('#Url').val(result.Url);
                $('#Id').val(result.Id);    
                $('#btnSubmit').val("Güncelle");
                $('#btnSubmit').css("btn btn-info");
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }






</script>





<script>
    $('.comma-decimal-place').DataTable({
        "aLengthMenu": [[20, 50, 75, -1], [20, 50, 75, "All"]],
        "iDisplayLength": 20,
        "aaSorting": [[0, 'desc']],
        "language": {
            "decimal": ",",
            "thousands": ".",
            "url": "/dil.json"
        }
    });
</script>


}
@section VendorCss{


<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/extensions/datedropper.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/extensions/timedropper.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/forms/toggle/switchery.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/tables/datatable/datatables.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/css/core/menu/menu-types/horizontal-menu.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-gradient.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/css/plugins/forms/switch.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="~/app-assets/css/core/colors/palette-switch.css">
}

@section VendorJs{
<script src="~/app-assets/vendors/js/tables/jsgrid/jquery.validate.min.js"></script>
<script src="~/app-assets/vendors/js/extensions/datedropper.min.js" type="text/javascript"></script>
<script src="~/app-assets/vendors/js/extensions/timedropper.min.js" type="text/javascript"></script>

<script type="text/javascript" src="~/app-assets/vendors/js/ui/jquery.sticky.js"></script>
<script src="~/app-assets/vendors/js/tables/datatable/datatables.min.js" type="text/javascript"></script>

<script src="~/app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js"
        type="text/javascript"></script>
<script src="~/app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js"
        type="text/javascript"></script>
<script src="~/app-assets/vendors/js/forms/toggle/switchery.min.js" type="text/javascript"></script>

<script src="~/app-assets/js/core/app-menu.js" type="text/javascript"></script>
<script src="~/app-assets/js/core/app.js" type="text/javascript"></script>
<script src="~/app-assets/js/scripts/customizer.js" type="text/javascript"></script>

<script src="~/app-assets/js/scripts/forms/switch.js" type="text/javascript"></script>

}


@section LevelJs{

<script src="~/app-assets/js/scripts/extensions/date-time-dropper.js" type="text/javascript"></script>
}
